[project]
name = "researchpipeline"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "bibtexparser>=2.0.0b7",
    "openpyxl>=3.1.5",
]
